.prvimeni a{
    text-decoration:none;
    font-weight:bold;
}
.prvimeni{
    background-color:#212F3D;
    height:60px;
    position:relative;
    display: flex;
}
.prvimenidesni {
    text-align:right;
    padding-right:80px;
    padding-top: 10px;
    flex-grow: 3;
    background-color:#212F3D;
}
.prvimenilevi{
    text-align:left;
    padding-top:20px;
    padding-left:10px;
    flex-grow: 1;
    background-color:#212F3D;
    float:left;
}
#pomoc{
    color:#CACFD2;
}
.prvimenidesni a{
    padding-right:15px;
    color:#CACFD2 ;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
    text-decoration: none;
}
.prvimenidesni img{
    height: 30px;
    width: 30px;
    flex-grow: 1;
    border-radius: 33%;
}
.prvimenidesni a:hover{
    color:#F8C471;
    opacity:80%;
    font-size: 18px;
    transition: 400ms;
}
*{
    padding: 0;
    margin:0;
}
.spajanje{
    height:10px;
    width: 100%;
    background-color: #212F3D;
}
.drugimeni img{
    width:70px;
    padding-top: 20px;
    height:70px;
    margin-left: 48%;
}
h1{
    font-weight: bold;
    text-align: center;
    color: #212F3D;
    font-family: monaco;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 50px;
}
.prodaja{
    width:100%;
    height: 350px;
    background-color: white;
    display: flex;
}
.prvi p{
    font-size: 15px;
    font-weight: bold;
    float:right;
    padding-right: 10px;
}
.prvi{
    flex-grow: 1;
    border:1px solid black;
}
.prvi img{
    width: 60%;
    height: 70%;
    padding-left: 70px;
    padding-top: 50px;
}
.prvi h2{
    text-align: center;
}
.drugi{
    flex-grow: 1;
    float: left;
    border:1px solid black;
}
.drugi img{
    width: 60%;
    height: 70%;
    padding-left: 70px;
    padding-top: 50px;
}
.drugi h2{
    text-align: center;
}
.drugi p{
    font-size: 15px;
    font-weight: bold;
    float:right;
    padding-right: 10px;
}
.treci{
    flex-grow: 1;
    border:1px solid black;
}
.treci img{
    width: 60%;
    height: 70%;
    padding-left: 70px;
    padding-top: 50px;
}
.treci h2{
    text-align: center;
}
.treci p{
    font-size: 15px;
    font-weight: bold;
    float:right;
    padding-right: 10px;
}
.cetvrti{
    flex-grow: 1;
    border:1px solid black;
}
.cetvrti img{
    width: 60%;
    height: 70%;
    padding-left: 70px;
    padding-top: 50px;
}
.cetvrti p{
    font-size: 15px;
    font-weight: bold;
    float:right;
    padding-right: 10px;
}
.cetvrti h2{
    text-align: center;
}